<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="https://duriooplus.ott/app" version="1.34.1" viewmodes="maximized">
  <access origin="*" subdomains="true"/>
  <tizen:application id="g6KuDGkmOc.duriooplus" package="g6KuDGkmOc" required_version="5.0"/>
  <content src="index.html"/>
  <feature name="http://tizen.org/feature/screen.size.normal.1080.1920"/>
  <icon src="icon.png"/>
  <tizen:metadata key="http://samsung.com/tv/metadata/multitasking.support" value="true"/>
  <name>Durioo+</name>
  <tizen:privilege name="http://tizen.org/privilege/internet"/>
  <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
  <tizen:profile name="tv-samsung"/>
  <tizen:setting pointing-device-support="disable"/>
</widget>